<!-- CTA -->
<section id="cta" class="wrapper style4">
    
    <div id="registration" class="inner">
        <header>
            <h2>Comming soon</h2>
            <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
        </header>
       <form id="signupForm" class="actions">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="submit" id="send"  href="#" value="Join beta" class="button fit special"></input>
        <p class="note">After joining we will use your email only 
            for platform related announcements. 
            You can unsubscribe at any time by email {{ site.email }} 
            For information about our privacy policy, please visit <a href="/privacy.html">Privacy Policy</a>.
        </p>
       </form>     
    </div>
</section>