style.
    h3, p {
        font-family: "Open Sans", Helvetica, sans-serif;
    }
h3
    b Hi there!
p Thank you for registering to <b>Product BETA</b>
p
    | Please, confirm your email by clicking this
    | 
    a(href="https://product-site/confirmMail?uid=" + hash) link
    | .